<template name="sentReview">
	<div class="modal" id="sentReview">
		<div class="modal-dialog">
      		<div class="modal-content no-footer">
        		<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h2 class="modal-title">Lacrou!</h2>
        		</div>
        		<div class="modal-body">	          
					<h3>Obrigado por colaborar com a gente! \o/</h3>
					<p>Com a sua participação conseguiremos mapear os lugares que mais respeitam a diversidade sexual e identidade de gênero, além de futuramente gerar relatórios dos locais com o maior número de denúncias de violações.</p>
					<h3>Aproveite outros recursos interessantes</h3>
					<dl>
						<dt>Saiba argumentar</dt>
						<dd>Conhecendo seus direitos fica mais fácil saber o que dizer caso sofra alguma restrição em locais públicos e privados.
						</dd>
						<dt>Indique o Selo Social Freeda</dt>
						<dd>Conhece alguém que tenha um estabelecimento comercial ou seja gestor de alguma instituição pública? Fale sobre como é importante se posicionar. Peça para ostentar o selo Freeda!</dd>
						<dt>Conte aos amigos!</dt>
						<dd>Precisamos de ajuda para construir um banco de dados bem atualizado. Compartilhar nas redes sociais é a melhor forma de divulgar.</dd>
					</dl>

					<h3>Tem alguma dúvida?</h3>
					<p class="lead">Envie um e-mail para freeda@freeda.me</p>
				</div>
			</div>	
    	</div>
	</div>
</template>