<template name="direitos">
	<div class="modal" id="direitos">
		<div class="modal-dialog modal-lg">
      		<div class="modal-content no-footer ">
        		<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h2 class="modal-title">Conheça seus direitos</h2>
        		</div>
        		<div class="modal-body">	          
					
					<p>
						
O Brasil não possui nenhuma legislação específica que criminalize a bi-homo-lesbo-transfobia, entretanto o próprio Código Penal e diversas outras legislações condenam práticas discriminatórias e vexatórias. Conheça seus direitos!
					</p>
								

								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingOne">
								      <h4 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								          Código Penal
								        </a>
								      </h4>
								    </div>
								    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								      <div class="panel-body">
								        <p>O Código Penal prevê uma série de crimes que embora não estejam caracterizados diretamente como homofobia podem ser utilizados para enquadrar muitas violências sofridas por razão de gênero e orientação sexual, como por exemplo a lesão corportal (art. 129), difamação (art. 139), a injúria (art. 140) e a ameaça (art. 147).</p>
								        <a href="http://www.planalto.gov.br/ccivil_03/decreto-lei/del2848.htm">Confira na íntegra</a>

								      </div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingTwo">
								      <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								          Leis Estaduais
								        </a>
								      </h4>
								    </div>
								    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								      <div class="panel-body">
								        <p>
								        Cada Estado da federação possui sua própria Constituição Estadual e também autonomia para fazer suas legislações próprias (desde que respeitem a Constituição Federal). Alguns Estados do Brasil possuem legislações específicas para coibir a discriminação por gênero e orientação sexual. Confira abaixo se o seu Estado possui uma lei de proteção. </p>
								        <ul>
								        	<li><a href="http://www.gabinetecivil.al.gov.br/legislacao/Constituicao do Estado de Alagoas.pdf">Alagoas</a></li>

								        	<li><a href="http://legislacao.cl.df.gov.br/Legislacao/consultaTextoLeiParaNormaJuridicaNJUR-61424!buscarTextoLeiParaNormaJuridicaNJUR.action
											">Distrito Federal</a></li>

											<li><a href="http://www.al.ma.leg.br/ged/lei/2006/LEI_8444.pdf">Maranhão</a></li>

											<li><a href="http://aacpdappls.net.ms.gov.br/appls/legislacao/secoge/govato.nsf/1b758e65922af3e904256b220050342a/19c54934ae898631042570e5006c6c3b?OpenDocument">Mato Grosso do Sul</a></li>								 

								        	<li><a href="http://www.almg.gov.br/consulte/legislacao/completa/completa.html?tipo=LEI&num=14170&comp=&ano=2002&aba=js_textoAtualizado">Minas Gerais</a></li>

								        	<li><a href="http://www.alepa.pa.gov.br/portal/detalheLei.php?idLei=cnRYL0g3c3ZvM0cyaGhjZXpXcHpUbDA9">Pará</a></li>

								        	<li><a href="http://alpb1.pb.gov.br:8082/sapl/sapl_documentos/norma_juridica/7125_texto_integral
											">Paraíba</a></li>

											<li><a href="http://legislacao.pi.gov.br/legislacao/default/ato/13219">Piauí</a></li>

								        	<li><a href="http://alerjln1.alerj.rj.gov.br/CONTLEI.NSF/c8aa0900025feef6032564ec0060dfff/cdee250b14447c00032568ea006760e4?OpenDocument">Rio de Janeiro</a></li>
								        	
								        	<li><a href="http://www.al.rs.gov.br/legis/M010/M0100099.ASP?Hid_Tipo=TEXTO&Hid_TodasNormas=265&hTexto=&Hid_IDNorma=265">Rio Grande do Sul</a></li>
							
								        	<li><a href="http://www.al.sp.gov.br/repositorio/legislacao/lei/2013/lei-15082-10.07.2013.html">São Paulo</a></li>

								        	
								        </ul>

								      </div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingThree">
								      <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								          Estatuto da Juventude
								        </a>
								      </h4>
								    </div>
								    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								      <div class="panel-body">
								        <p>O Estatuto da Juventude de 2013 é a primeira legislação nacional a usar a expressão orientação sexual, e dá as diretrizes das políticas públicas para juventude no Brasil. Para o Estatuto, são consideradas jovens as pessoas na faixa dos 15 aos 29 anos. A lei assegura que “o jovem tem direito à diversidade e à igualdade de direitos e de oportunidades e não será discriminado por motivo de orientação sexual” (art. 17, inciso II).</p>
								        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2013/Lei/L12852.htm">Confira na íntegra.</a>
 


								      </div>
								    </div>
								  </div>
								

								<div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingThree">
								      <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								          O que é nome social?
								        </a>
								      </h4>
								    </div>
								    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								      <div class="panel-body">
								        <p>Nome social é o nome pelo qual a pessoa se reconhece e prefere ser chamada. O nome social não necessariamente será igual ao nome de registro da carteira de identidade. Muitas pessoas transexuais e travestis possuem um nome social distinto da certidão de nascimento, pois entendem que o nome social representa melhor sua identidade de gênero e sua expressão como indivíduo.
								        </p>
								        <p>Infelizmente, no Brasil ainda não há uma lei que garanta a troca do nome de registro para pessoas transexuais e travestis de forma administrativa (atualmente, é necessário ingressar com uma ação na justiça), embora esteja tramitando um projeto de lei conhecido como Projeto de Lei João Nery, em homenagem a um importante ativista do movimento trans.</p>
										<p>
										Entretanto, já existem leis que asseguram o respeito ao nome social nos serviços públicos, de saúde e educação. Conheça seus direitos!
										</p>
										<ul>
											<li><a href="https://conlegis.planejamento.gov.br/conlegis/legislacao/atoNormativoDetalhesPub.htm;jsessionid=5503F859345AC560FB19EB7C0ED37518?id=7796">Administração Pública Federal direta, autárquica e fundacional</a></li>
											<li><a href="http://bvsms.saude.gov.br/bvs/saudelegis/gm/2009/prt1820_13_08_2009.html">Sistema Único de Saúde</a></li>
											<li><a href="http://www.sertao.ufg.br/politicaslgbt/novidades.php?id=28">Ministério da Educação</a></li>

										</ul>	
								        
								      </div>
								    </div>
								  </div>

								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="headingThree">
								      <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								          Legislações Internacionais
								        </a>
								      </h4>
								    </div>
								    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
								      <div class="panel-body">
								        <p>Além das leis nacionais, estaduais e municipais, existem ainda os tratados internacionais de direitos humanos. Ao assinar o tratado, o país se compromete a seguir as normas estabelecidas. Confira alguns dos tratados sobre direitos sexuais e de gênero que o Brasil assinou:
								        </p>
								        <dl>
								        	<dt>
								      			Convenção sobre a Eliminação de Todas as Formas de Discriminação contra a Mulher
								      		</dt>
								      		<dd>
								      		 	A convenção foi criado em 1979 e constitui o primeiro instrumento internacional para proteção das mulheres. O Brasil é signatário desta convenção, o que significa que deve cumpri-la da mesma forma que deve cumprir a Constituição Federal.<br>
											 	<a href="http://www.campanhapontofinal.com.br/download/marcos_legais_internacional_01.pdf">Confira na íntegra.</a>
											</dd>
											<dt>Convenção Interamericana para Prevenir, Punir e Erradicar a Violência contra a Mulher, “Convenção de Belém do Pará”</dt>
											<dd>
												A convenção conhecida como “convenção de Belém do Pará” foi feita em 1994 graças ao esforço de muitos movimentos de mulheres que exigiam mais direitos. O Brasil também é signatário desta convenção e deve cumpri-la nas suas políticas públicas e leis internas.<br>
												<a href="http://www.cidh.org/Basicos/Portugues/m.Belem.do.Para.htm">Confira na íntegra.</a>

											</dd> 
											<dt>
												Princípios de Yogyakarta
											</dt>
											<dd>
												O documento intitulado “Princípios sobre a aplicação da legislação internacional de direitos humanos em relação à orientação sexual e identidade de gênero” foi criado em 2007 e contém uma série de princípios para aplicação de normas de direito internacional sobre orientação sexual e identidade de gênero. O texto foi formulado pelos movimentos sociais e diversos especialistas e não vincula formalmente os Estados quando ao seu cumprimento, mas é uma importante inspiração para a criação de legislações no mundo todo. 
												<br>

												<a href="http://www.clam.org.br/pdf/principios_de_yogyakarta.pdf ">Confira na íntegra.</a>

											</dd>
										</dl>
								        
								      </div>
								    </div>
								  </div>



								</div>
						
				</div>
				
			</div>	
    	</div>
	</div>



</template>
