<template name="quemSomos">
	<div class="modal" id="quem-somos">
		<div class="modal-dialog">
      		<div class="modal-content no-footer">
        		<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h2 class="modal-title">Quem Somos</h2>
        		</div>
        		<div class="modal-body">	          
					
					<p>
						Mais do que um aplicativo que permite avaliar estabelecimentos públicos e privados no quesito respeito à diversidade e igualdade de gênero, Freeda é uma rede colaborativa que propõe um compromisso ético. A iniciativa Freeda tem como objetivo empoderar as mulheres e a população LGBT na luta contra a bi-homo-lesbo-transfobia e toda forma de sexismo, envolvendo entidades públicas e privadas na promoção de boas práticas. Sinta-se à vontade para copiar, reinventar e multiplicar!
					</p>
					
					<h3>Por que Freeda?</h3>
						<p>O nome Freeda tem inspiração na pintora mexicana Frida Kahlo (1907-1954), que em sua obra e biografia desafiou os padrões sexuais e de gênero, criando novas estéticas que até hoje inspiram o feminismo e a teoria queer. Além disso, 
						o nome Freeda busca remeter às ideias de free software e free information que orientam o projeto.</p>

					<h3>Equipe Freeda</h3>
						<img src="/img/equipeFreedaHackathon.png" alt="Equipe Freeda no Hackathon de gênero e cidadânia da Câmara dos Deputados - 2014" align="right">
						<br><p><caption>Gabriel Galli, Bárbara Arena e Patrícia Becker. no Hackathon de Gênero e Cidadânia da Câmara dos Deputados / 2014. </caption></p>

					<h3>Contato</h3>
					<p class="lead">freeda@freeda.me</p>
						<br><br><br><br><br>


						
				</div>
				
			</div>	
    	</div>
	</div>



</template>