<template name="selo">
	<div class="modal" id="selo">
		<div class="modal-dialog modal-lg">
      		<div class="modal-content ">
        		<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h2 class="modal-title">Selo de compromisso social Freeda</h2>
        		</div>
        		<div class="modal-body">	          
					<img src="/img/seloFreeda.png" alt="selo Freeda" align="right" class="right">
					<p>O Selo de Compromisso Social Freeda é uma ferramenta que tem o objetivo de divulgar e valorizar instituições que estejam dispostas a adotar políticas de respeito à diversidade e à igualdade de gênero em suas atividades no contato com o público e em suas políticas internas.
					</p>
					<h4>O que é preciso para receber o selo?</h4>
					
						<ul>
							<li>Comprometer-se com a postura social de respeito à diversidade sexual, à identidade e à igualdade de gênero;
							</li>
							<li>Comprometer-se com os princípios do projeto Freeda.
							</li>
						</ul>

					<h4>Princípios Freeda</h4>
						<ol>
							<li>Os princípios de igualdade e da não discriminação por motivo de orientação sexual e identidade de gênero devem ser observados em todas as interações com o público e políticas internas da instituição.</li>
							<li>As manifestações públicas de afeto serão respeitadas sem nenhuma discriminação por identidade de gênero ou orientação sexual.
							sexual</li>
							<li>Nenhuma violência no espaço da instituição será perpetrada, estimulada ou tolerada, sejam elas verbais, físicas ou simbólicas.</li>
							<li>Em caso de violência no interior da instituição, a prioridade será sempre o acolhimento das vítimas, sua proteção e o acionamento das autoridades competentes.</li>
							<li>É dever de todos os entes públicos, privados e demais organizações da sociedade civil adotar boas práticas que promovam o respeito à diversidade e à igualdade de gênero.</li>
							<li>A rede Freeda é solidária e colaborativa, prezando pela circulação e multiplicação de informações e boas práticas.</li> 

						</ol>	
				</div>
				<div class="modal-footer">
		          <p><a class="btn btn-success btn-lg" href="#">
					  Peça o seu!
					</a>
				</p>	
		        </div>	
			</div>	
    	</div>
	</div>



</template>