<template name="termo">
	<div class="modal" id="termo">
		<div class="modal-dialog modal-lg">
      		<div class="modal-content no-footer">
        		<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h2 class="modal-title">Termo de Uso</h2>
        		</div>
        		<div class="modal-body">	          
					<p>
					Freeda é um serviço interativo oferecidopor meio de página eletrônica na internet que oferece a possibilidade de classificação de estabelecimentos públicos e privados por pessoas usuárias com base em critérios subjetivos que levam em conta o respeito a diversidade e a igualdade de gênero. O acesso ao Freeda representa a aceitação dos termos de uso abaixo descritos. Se você não concorda com os termos, por favor, não acesse nem utilize este website.
					</p>
					<ol>
						<li>O visitante poderá usar este site apenas para finalidades lícitas. Este espaço não poderá ser utilizado para para publicar, enviar, distribuir ou divulgar conteúdos de caráter ilícito, inclusive informações de propriedade exclusiva pertencentes a outras pessoas ou empresas.
						</li>	
						<li>O site Freeda empenha-se em manter a qualidade, atualidade e autenticidade das informações do site, não se responsabilizando por eventuais falhas nos serviços ou inexatidão das informações oferecidas. A pessoa usuária não deve ter como pressuposto que tais serviços e informações são isentas de erros ou serão adequadas aos seus objetivos particulares. O site Freeda e as pessoas que realizam sua gestão tampouco assumem o compromisso de atualizar as informações, e reservam-se o direito de alterar as condições de uso ou serviços oferecidos no site a qualquer momento. Visite regularmente esta página e consulte os Termos então vigentes.</li>
						<li>O acesso ao site Freeda é gratuito. A equipe gestora e colaboradora do site Freeda poderão, a seu exclusivo critério e em qualquer tempo, modificar ou desativar o site, bem como limitar, cancelar ou suspender seu uso ou o acesso.</li>
						<li> Em nenhum caso o site Freeda ou sua equipe colaboradora serão responsabilizados por quaisquer danos, incluindo lucros cessantes, interrupção de negócio ou perda de informação que resultem do uso ou da incapacidade de usar os materiais. O Freeda não garante a precisão ou integridade das informações, textos, gráficos, links e outros itens dos materiais.</li>
						<li>O Freeda não se responsabiliza pelo conteúdo dos comentários e informações aqui publicadas por pessoas usuárias, uma vez que os textos são de autoria de terceiros e não traduzem, necessariamente, a opinião do website. O site Freeda tampouco é responsável pela violação de direitos autorais decorrente de informações, documentos e materiais publicados neste website, compromentendo-se a retirá-los do ar assim que notificado da infração.</li>
						<li>Qualquer material, informação, artigos ou outras comunicações que forem transmitidas, enviadas  ou publicadas neste site serão considerados informação não confidencial, e qualquer violação a direitos não será de responsabilidade do site Freeda. Reitera-se que é terminantemente proibido transmitir, trocar ou publicar, através deste website qualquer material de cunho ilegal, bem como textos ou criações de terceiros sem sua devida autorização. 
						</li>
						<li>O site Freeda reserva-se o direito de restringir o acesso às informações enviadas por terceiros a pessoas usuárias, bem como retirar do ar o conteúdo publicado por pessoas usuárias que estiver em desacordo com os Princípios Freeda ou apresentarem carater discriminatório ou de incitação ao ódio. O site Freeda não é responsável pelo conteúdo de qualquer uma das informações trocadas entre pessoas usuárias, sejam elas lícitas ou ilícitas.O site Freeda reserva-se o direito de restringir o acesso às informações enviadas por terceiros a pessoas usuárias, bem como retirar do ar o conteúdo publicado por pessoas usuárias que estiver em desacordo com os Princípios Freeda ou apresentarem carater discriminatório ou de incitação ao ódio. O site Freeda não é responsável pelo conteúdo de qualquer uma das informações trocadas entre pessoas usuárias, sejam elas lícitas ou ilícitas.</li>
						<li>O site Freeda não é responsável pelo conteúdo de qualquer outro website indicado ou acessado por meio do site. Reserva-se o direito de eliminar qualquer link ou direcionamento a outros sites ou serviços a qualquer momento. O site Freeda não endossa firmas ou produtos indicados, acessados ou divulgados através deste website, tampouco pelos anúncios eventualmente aqui publicados, reservando-se o direito de publicar este alerta em suas páginas eletrônicas sempre que considerar necessário.</li>
						<li>O site Freeda respeita a propriedade intelectual de outras pessoas ou empresas e solicitamos aos nossos membros que façam o mesmo. Toda e qualquer violação de direitos autorais deverá ser notificada ao site Freeda e acompanhada dos documentos e informações que confirmam a autoria. </li>
						<li>O Selo Freeda é uma iniciativa simbólica de caráter pedagógico que visa a estimular boas práticas por instituições públicas e privadas no que tange políticas de respeito à diversidade e à igualdade de gênero. O site Freeda não se responsabiliza civil e penalmente pelas ações das instituições aderentes ao Selo Freeda.</li>
					</ol>
					<p>O acesso ao site Freefa representa a aceitação expressa e irrestrita dos termos de uso acima descritos. Faça bom uso desta ferramente para a promoção do respeito à diversidade e à igualdade de gênero.</p>	
				</div>
				
			</div>	
    	</div>
	</div>



</template>